<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>warn</level>
        </filter>
        <encoder>
            <pattern>%date{HH:mm:ss} %-5level [%X{akkaSource}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${hakky-hour.log-file:-hakky-hour.log}</file>
        <encoder>
            <pattern>%date{HH:mm:ss} %-5level [%X{akkaSource}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="session-file" class="ch.qos.logback.core.FileAppender">
        <file>${session-system.log-file:-session-system.log}</file>
        <encoder>
            <pattern>%date{HH:mm:ss} %-5level [%X{akkaSource}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="email-file" class="ch.qos.logback.core.FileAppender">
        <file>${email.log-file:-email.log}</file>
        <encoder>
            <pattern>%date{HH:mm:ss} %-5level [%X{akkaSource}] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.typesafe.training.hakkyhour" level="debug" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>

    <logger name="events" level="debug" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="session-file"/>
    </logger>

    <logger name="events.Email" level="debug" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="email-file"/>
    </logger>

    <logger name="akka.actor.RepointableActorRef" level="debug" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>

    <root level="warn">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>

</configuration>
